# Python
*.pyc
*.pyo
*.pyd
__pycache__
.env
venv/
*.egg-info
*.eggs
dist/
build/

# Docker
*.log
docker-compose.override.yml
.docker/

# Node.js / Next.js
node_modules/
.next/
out/

# Database files (Postgres)
pgdata/

# OpenSearch data
osdata/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db